---
import Text from "./system/Text.astro";
const { text_cms, text_id, uid = null } = Astro.props
---
<div class="p-4 border border-red-400">
  <Text
    t={text_cms}
    uid={uid}
    id={text_id} 
  />
</div>

