---
import { fileURLToPath } from 'url';
import * as path from 'path';
import * as fs from 'fs';

const editMode = true

const rootDir = process.cwd()

console.log('root dit...')

const cmsDataFilePath = path.join(rootDir, 'src/cms/data.json');

let cmsContent = JSON.parse(fs.readFileSync(cmsDataFilePath, 'utf8') || '{}');


interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script define:vars={{ cmsContent }}>
			console.log('cmsContent', cmsContent)
			localStorage.setItem('cmsContent', JSON.stringify(cmsContent))
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>