---
import data from "@/cms/data.json"
import TextEditor from "../cms/TextEditor";
const { t, id: _id, uid } = Astro.props

const cms_enabled = import.meta.env.CMS_ENABLED === "true";

const edit = cms_enabled && true

let id = _id
if (uid) {
  id = uid + '-' + id
}

const text = data[id] || t

---

{!edit && 
<div set:html={text}>
</div>
}

{edit && <TextEditor id={id} uid={uid} content={text} client:only />}

